{% extends 'base.html'%} 
{% import 'macros.html' as macro %} 
{% block content%}
<div class="container">
    <div class="row home-pitches">
        <div class="row">
            <h4 class="text-left">
            <span class="add" aria-hidden="true">Categories</span>  
            </h4>
            <ol class="category-list">
            {{ macro.displayCategoryList(categories) }}
            </ol>
        </div>
        <h4><a class="btn btn-primary"
            href="/add/category"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Category </a>
        </h4>
        <div class="row">
            <h2 class="title-pitches" style="text-align: center; color: blue;">Minute Pitches Posted</h2>
        </div>
    </div>
</div>
{% endblock %}